#s_box
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:8.5%;
  margin-left:25%;
  position:absolute;
  text-align:center;
        font-family:"Times New Roman";
  font-size:600%;
  }

#s_box1
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:8.5%;
  margin-left:39.5%;
  position:absolute;
  text-align:center;
        font-family:"Times New Roman";
  font-size:600%;

}

#s_box2
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:8.5%;
  margin-left:54%;
  position:absolute;
  font-family:"Times New Roman";
  font-size:600%;
  text-align:center;
}

#s_box3
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:8.5%;
  margin-left:69%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}

#s_box4
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:23.5%;
  margin-left:25%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}
#s_box5
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:23.5%;
  margin-left:39.5%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}
#s_box6
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:23.5%;
  margin-left:54%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}

#s_box7
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:23.5%;
  margin-left:69%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}

#s_box8
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:38.5%;
  margin-left:25%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}

#s_box9
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:38.5%;
  margin-left:39.5%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;

}

#s_box10
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:38.5%;
  margin-left:54%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
   

}

#s_box11
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:38.5%;
  margin-left:69%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
}

#s_box12
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:53.5%;
  margin-left:25%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
}

#s_box13
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:53.5%;
  margin-left:39.5%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
}

#s_box14
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:53.5%;
  margin-left:54%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
}

#s_box15
{ width:12.5%;
  height:22%;
  background-color:Red;
  margin-top:53.5%;
  margin-left:69%;
  position:absolute;
  text-align:center;
  font-family:"Times New Roman";
  font-size:600%;
  
}
